@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root{
    --color-purple: #6c63ff;
}
.font-lexend{
    font-family: 'Lexend', sans-serif;
}

.DigitalBridge-logo{
    width: 30px;
}

.navbar{
    border-bottom: 2px solid var(--color-purple);
}
.nav-link, .active, .nav-link:hover{
    color: black !important;
}
.navbar-brand h1, .navbar-brand .h4{
    margin: 0px;
}
.card-servico{
    border: 2px solid var(--color-purple);
    border-radius: 10px;
    min-height: 100px;
    margin-bottom: 10px;
}
section{
    min-height: 100vh;
}